/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background: linear-gradient(135deg, #141e30, #243b55);
    
}

